@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	display: grid;

	grid-template-rows: auto;
	grid-template-areas:

		"sidebar main";

	gap: 10px;
	height: 100vh;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	justify-content: center;
}

main {
	grid-area: main;
	background: #fff;
	padding: 20px;
}

aside {
	grid-area: sidebar;
	background: #f8f9fa;
	padding: 20px;
}


.profile-img {
	height: 180px;
	width: 180px;
	background-color: #ddd;
	border-radius: 50%;
	margin-bottom: 20px;
	margin-left: 60px;
	border: 10px solid #fbb03b;
	box-shadow: 6px 7px 9px 5px #fbb03b73;
}

.profile-img img {
	width: 100%;
	border-radius: 50%;
}

.left {
	background-color: #fab13b;
}

.right {
	display: grid;
	grid-gap: 10px;
	padding-bottom: 20px;
}

.heading {
	background-color: #4d4d4d;
	padding: 10px;
	color: #fbb03b;
	text-align: left;
	padding-left: 20px;
	margin-right: -15px;
}

.p1 {
	padding: 9px 10px;
	font-size: 17px;
}

.icons1 {
	font-size: 16px !important;
	padding-right: 10px !important;
	vertical-align: sub;
}

.skill-container {
	width: 90%;
	background-color: #4d4d4d;
	margin: 0px 10px;
}

.skill {
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
	color: white;
}

.html {
	width: 90%;
	background-color: white;
}

.css {
	width: 80%;
	background-color: white;
}

.js {
	width: 85%;
	background-color: white;
}

.jquery {
	width: 80%;
	background-color: white;
}

.web {
	width: 85%;
	background-color: white;
}

.gra {
	width: 70%;
	background-color: white;
}

.icons2 {
	padding: 18px 10px;
}

.name-div {
	text-align: center;
	letter-spacing: 3px;
}

.name-div h1 {
	margin-bottom: 10px;
}

.box-2 {
	padding: 0px 50px;
	margin-top: 30px;
}

.p2 {
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 8px;
    line-height: 20px;
    margin-top: 36px;
	line-height: 1.6;
}

h2 {
	font-size: 18px;
	margin-bottom: 15px;
}

.icons3 {
	vertical-align: bottom;
	font-size: 21px;
	color: #4d4d4d;

}

.tabIcons4 {
	text-align: right;
}

.icons4 {
	vertical-align: bottom;
	padding: 20px;
	cursor: pointer;
}

.p3 {
	font-size: 13px;
	word-spacing: 1px;
	letter-spacing: 0px;
	margin-top: 10px;
}

.p3 span {
	color: #ff9b00;
	padding-left: 20px;
}

.dark-mode {
	background: rgb(134, 134, 134);
	color: rgb(247 245 245);
}

footer {
	grid-area: footer;
	background: #f8f9fa;
	padding: 20px;
	text-align: center;
}

@media (max-width: 600px) {
	body {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr 1fr auto;
		grid-template-areas:

			"sidebar"
			"main";

	}
}
